* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#header {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
}

.enter {
  display: flex;
  justify-content: center;
  border: none;
}
