* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  background-color: #ffffc2;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#header {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: row;
}

/*.......................................Column-1..........................................*/
.col1 {
  display: flex;
  flex-basis: 50%;
  margin-left: 5vw;
  margin-top: 10vh;
}

#heading {
  font-size: 54px;
  font-weight: 450;
  margin-bottom: 20px;
  color: #484838;
}

#subtext {
  font-size: 28px;
  color: #6d6c61;
}

.head {
  position: fixed;
  margin-top: -250px;
}

#prediction {
  margin-top: 20px;
  font-size: xx-large;
  font-weight: 700;
  color: #484838;
}

/*.......................................Column-2..........................................*/
.col2 {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

#canvas {
  border: 5px solid #484838;
  background-color: white;
  cursor: url("Cursors/Handwriting.cur"), auto;
}
#clear {
  height: 50px;
  width: 50px;
  border: solid #484838 2.5px;
  background-color: #ffffc2;
  cursor: url("Cursors/Link\ Select.cur"), auto;
}

#colourpicker {
  height: 50px;
  width: 50px;
  border: solid #484838 2.5px;
  background-color: #ffffc2;
  cursor: url("Cursors/Link\ Select.cur"), auto;
}

#trash {
  font-size: 30px;
  color: #484838;
}

.enter {
  display: flex;
  justify-content: center;
}

#enter {
  height: 50px;
  width: 150px;
  border-radius: 20px;
  border: solid #484838 2.5px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #484838;
  color: #ffffc2;
  cursor: url("Cursors/Link\ Select.cur"), auto;
}

.top {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.slider {
  margin-left: 0.5vw;
  cursor: url("Cursors/Horizontal\ Resize.cur"), auto;
}

/*For smaller screens*/

@media only screen and (max-width: 600px) {
  #header {
    flex-direction: column;
  }

  #heading {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #484838;
  }

  #subtext {
    font-size: 14px;
    color: #6d6c61;
  }

  .head {
    position: fixed;
    margin-top: -300px;
  }

  #prediction {
    margin-top: 10px;
    font-size: large;
    font-weight: 500;
  }
  .col1 {
    flex-direction: column;
    flex-basis: 50%;
    margin-top: 40vh;
    margin-left: -20vw;
    justify-content: center;
    align-items: center;
  }

  .col2 {
    flex-direction: column;
    flex-basis: 50%;
  }
}
